.articles {

  &__list {
    list-style: none;
    padding: 30px 75px 120px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: #{$mobile}) {
      flex-direction: column;
      padding: 40px 0 40px;
    }
  }

  &__item {
    max-width: 355px;

    @media (max-width: #{$mobile}) {
      margin: 0 auto;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
