.footer {
  background-color: #214E41;

  &__main-container {
    box-sizing: border-box;
    padding: 100px 120px 70px;

    @media (max-width: #{$tabletH}) {
      padding: 80px 60px 60px;
    }

    @media (max-width: #{$tabletV}) {
      padding: 60px 16px 40px;
    }

    @media (max-width: #{$mobileL}) {
      padding: 50px 16px 30px;
    }

    @media (max-width: #{$mobileS}) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 70px;

    @media (max-width: #{$tabletH}) {
      padding-bottom: 50px;
    }

    @media (max-width: #{$tabletV}) {
      padding-bottom: 40px;
      // flex-wrap: wrap;
    }

    @media (max-width: #{$mobileL}) {
      flex-direction: column;
      padding-bottom: 40px;
    }
  }

  &__logo {
    margin-right: 100px;

    @media (max-width: #{$tabletH}) {
      margin-right: 80px;
    }

    @media (max-width: #{$tabletV}) {
      margin-right: 50px;
    }

    @media (max-width: #{$mobileL}) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: 100px;

    @media (max-width: #{$tabletH}) {
      margin-right: 80px;
    }

    @media (max-width: #{$tabletV}) {
      margin-right: 50px;
    }

    @media (max-width: #{$mobileL}) {
      margin-bottom: 50px;
    }
  }

  &__container {

    &:first-of-type {
      margin-right: 100px;
    }

    @media (max-width: #{$tabletH}) {
      &:first-of-type {
        margin-right: 80px;
      }
    }

    @media (max-width: #{$tabletV}) {
      &:first-of-type {
        margin-right: 50px;
      }
    }

    @media (max-width: #{$mobileL}) {
      flex-basis: 50%;

      &:first-of-type {
        margin-right: 0;
      }
    }
  }

  &__menu-title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 0 15px;

    @media (max-width: #{$mobileL}) {
      font-size: 16px;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  &__menu-link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.69;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__subscription {
    margin-left: auto;
    width: 100%;
    max-width: 355px;

    @media (max-width: #{$mobileL}) {
      margin-left: unset;
      max-width: 400px;
    }
  }

  &__caption {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85;
    color: #FFFFFF;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    margin: 0 0 19px;

    @media (max-width: #{$mobileL}) {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.02px;
    margin: 0 0 20px;

    @media (max-width: #{$mobileL}) {
      font-size: 16px;
    }
  }

  &__form {
    margin: 0 0 30px;
    display: flex;

    @media (max-width: #{$mobileL}) {
      margin-bottom: 40px;
    }
  }

  &__email {
    width: calc(100% - 53px);
    padding: 18px 21px 6px;
    box-sizing: border-box;
    background-color: #214E41;
    border: 1px solid #FFFFFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.02px;

    &::placeholder {
      color: #FFFFFF;
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 53px;
    height: 50px;
    padding: 0;
    border: none;
    background-image: url(../images/arrow-right.svg);
    background-size: 23px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__oficials {
    border-top: 1px solid #FFFFFF;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: #{$tabletH}) {
      padding-top: 20px;
    }

    @media (max-width: #{$mobileL}) {
      flex-direction: column;
    }
  }

  &__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.02px;

    @media (max-width: #{$mobileL}) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.02px;
    text-decoration: none;
    padding: 0 15px;
    box-sizing: border-box;

    &:not(:last-of-type) {
      border-right: 1px solid #FFFFFF;
    }

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }

    @media (max-width: #{$mobileL}) {
      font-size: 16px;
    }
  }
}
