.hero {
  position: relative;

  &__image {
    max-height: 720px;

    @media (max-width: #{$mobile}) {
      max-height: 360px;
      // object-fit: cover;
    }
  }

  &__container {
    max-width: 516px;
    position: absolute;
    top: 161px;
    left: 120px;
    display: flex;
    flex-direction: column;

    @media (max-width: #{$mobile}) {
      max-width: calc(100% - 30px);
      top: 30px;
      left: 15px;
    }
  }

  &__title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.28;
    color: #214E41;
    margin-bottom: 40px;

    @media (max-width: #{$mobile}) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    color: #214E41;
    margin-bottom: 16px;
  }
}
