.information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;

  &__column {
    width: 50%;
  }

  &__caption {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.54;
    color: #43806C;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  &__title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.28;
    color: #214E41;
    padding: 0;
    margin: 0 0 34px;
    max-width: 556px;
  }

  &__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.02px;
    color: #757575;
    padding: 0;
    margin: 0;
    max-width: 556px;
  }

  &__image {
    max-width: 560px;
    margin-left: 20px;
  }
}
