.menu {

  @media (max-width: #{$tabletH}) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    max-width: 324px;
    min-width: 274px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $basicWhiteColor;
    z-index: 11;
    transition: all .3s ease-in-out;
  }

  @media (max-width: #{$mobileL}) {
    max-width: 75vw;
  }

  &__logo-link {
    display: none;

    @media (max-width: #{$tabletH}) {
      display: block;
    }
  }

  &__logo {
    padding: 25px 15px 25px;
    width: 160px;

    @media (max-width: #{$mobileL}) {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: #{$tabletH}) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    margin-right: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    text-align: center;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: #{$desktop}) {
      margin-right: 30px;
    }

    @media (max-width: #{$tabletH}) {
      border-bottom: 1px solid $lightGrayColor;
      margin-right: 0;
      padding: 15px 16px;

      &:first-of-type {
        border-top: 1px solid $lightGrayColor;
      }
    }

    &_has-subsection {
      margin-right: 34px;

      @media (max-width: #{$desktop}) {
        margin-right: 18px;
      }

      @media (max-width: #{$tabletH}) {
        position: static;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.43;
    color: $darkGreenColor;
    text-decoration: none;

    @media (max-width: #{$tabletH}) {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sublist-arrow {
    margin-left: 8px;
    display: inline-block;
    width: 12px;
    height: 8px;
    background-image: url('../images/menu-arrow.svg');
    background-repeat: no-repeat;
    background-size: 12px 8px;
    background-position: center center;
    transition: transform .2s ease-in-out;

    @media (max-width: #{$desktop}) {
      margin-left: 5px;
    }

    @media (max-width: #{$tabletH}) {
      margin-left: 0;
      transform: rotate(-90deg);
    }
  }

  &__sublist {
    position: absolute;
    top: 20px;
    left: -15px;
    width: 200px;
    height: auto;
    display: none;
    flex-direction: column;
    padding: 10px 0 0;
    margin: 0;
    list-style: none;
    background-color: $basicWhiteColor;
    z-index: 3;

    @media (max-width: #{$tabletH}) {
      padding-top: 0;
      display: block;
      top: 60px;
      left: 100%;
      height: 100vh;
      width: 100%;
      visibility: hidden;
      transition: all .15s linear;
    }
  }

  &__sublist-back {
    display: none;
    text-align: left;

    @media (max-width: #{$tabletH}) {
      position: relative;
      display: block;
      padding: 15px 16px 15px 31px;
      border-top: 1px solid $lightGrayColor;
      border-bottom: 1px solid $lightGrayColor;
      font-family: 'Raleway', Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      line-height: 1.43;
      color: $darkGreenColor;
    }

    &:before {
      content: ('');
      position: absolute;
      top: 22px;
      left: 6px;
      width: 12px;
      height: 8px;
      padding-left: 14px;
      background-image: url('../images/menu-arrow.svg');
      background-repeat: no-repeat;
      background-size: 12px 8px;
      background-position: center center;
      transform: rotate(90deg);
    }
  }

  &__sublist-item {
    padding: 12px 15px;
    border: 1px solid $lightGrayColor;
    border-bottom: none;
    text-align: left;

    &:last-of-type {
      border-bottom: 1px solid $lightGrayColor;
    }

    @media (max-width: #{$tabletH}) {
      padding: 15px 16px;
      border: none;
      border-bottom: 1px solid $lightGrayColor;
    }
  }

  &__item:hover .menu__sublist {
    display: flex;
  }

  &__item:hover .menu__sublist-arrow {
    transform: rotate(-180deg);
  }

  &_visible {
    left: 0;
    visibility: visible;
  }
}
