.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.43;
    color: #214E41;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
