.menu {
  position: absolute;
  top: 33px;
  right: 45px;

  @media (max-width: #{$mobile}) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    max-width: 75vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    z-index: 11;
    transition: all .3s ease-in-out;
  }

  &_visible_true {
    width: 100%;
  }

  &__logo {
    display: none;

    @media (max-width: #{$mobile}) {
      display: block;
      padding: 16px 15px 18px 16px;
      box-sizing: border-box;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: #{$mobile}) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    margin-right: 50px;
    box-sizing: border-box;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: #{$mobile}) {
      border-bottom: 1px solid #dee2e6;
      margin-right: 0;
      padding: 15px;

      &:first-of-type {
        border-top: 1px solid #dee2e6;
      }
    }

    &_has-subsection {
      margin-right: 25px;

      @media (max-width: #{$mobile}) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.43;
    color: #214E41;
    text-decoration: none;

    @media (max-width: #{$mobile}) {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sublist-arrow {
    display: inline-block;
    width: 12px;
    height: 8px;
    padding-left: 13px;
    background-image: url('../images/menu-arrow.svg');
    background-repeat: no-repeat;
    background-size: 12px 8px;
    background-position: center center;
    transition: transform .3s ease-in-out;

    @media (max-width: #{$mobile}) {
      padding-left: 0;
      transform: rotate(-90deg);
    }
  }

  &__sublist {
    position: absolute;
    top: 20px;
    left: -15px;
    width: 200px;
    height: auto;
    display: none;
    flex-direction: column;
    padding: 10px 0 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    z-index: 3;
  }

  &__sublist-item {
    padding: 12px 15px;
    border-bottom: 1px solid #dee2e6;
  }

  &__item:hover .menu__sublist {
    display: flex;
  }

  &__item:hover .menu__sublist-arrow {
    transform: rotate(-180deg);
  }
}
