.texts {
  display: grid;

  &_display {

    &_row {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &_column {
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      @media (max-width: #{$tabletS}) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }

  &__paragraph {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.02px;
    color: $basicGrayColor;
    margin: 0;
  }
}
