.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 120px;
  box-sizing: border-box;

  &__column {
    margin-right: 92px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__caption {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.54;
    color: #43806C;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 20px;
  }

  &__title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.28;
    color: #214E41;
    padding: 0;
    margin: 0 0 34px;
  }

  &__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.02px;
    color: #757575;
    padding: 0;
    margin: 0 0 24px;
  }

  &__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.02px;
    color: #214E41;
    text-decoration: underline;
    transition: opacity 300ms ease-in-out;

    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }

  &__image {
    margin-bottom: 10px;
  }

  &__figcaption {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.69;
    color: #757575;
    text-align: right;
    padding: 0 35px;
  }
}
