$mobileBreakPoint: 442px;
$tabletVerticalBreakPoint: 768px;
$desktopHorizontalBreakPoint: 1024px;
$desktopBreakPoint: 1280px;
$laptopBreakPoint: 1440px;

$mobile: $mobileBreakPoint;
$tabletV: $tabletVerticalBreakPoint;
$tabletH: $tabletVerticalBreakPoint;
$desktop: $desktopBreakPoint;
$laptop: $laptopBreakPoint;
