$mobileBreakPoint: 374px;
$modernMobileBreakPoint: 480px;
$tabletOldBreakPoint: 767px;
$tabletVerticalBreakPoint: 810px;
$tabletHorizontalBreakPoint: 1023px;
$desktopBreakPoint: 1279px;
$laptopBreakPoint: 1440px;

$mobileS: $mobileBreakPoint;
$mobileL: $modernMobileBreakPoint;

$tabletS: $tabletOldBreakPoint;
$tabletV: $tabletVerticalBreakPoint;
$tabletH: $tabletHorizontalBreakPoint;

$desktop: $desktopBreakPoint;
$laptop: $laptopBreakPoint;

$darkGreenColor: #214e41;
$basicGreenColor: #43806c;
$lightGreenColor: #e3eeed;
$coolYellowColor: #f0a446;
$basicWhiteColor: #ffffff;
$basicBlackColor: #000000;
$basicGrayColor: #616161;
$lightGrayColor: #dee2e6;
