$mobileBreakPoint: 374px;
$modernMobileBreakPoint: 432px;
$tabletVerticalBreakPoint: 810px;
$tabletHorizontalBreakPoint: 1080px;
$desktopBreakPoint: 1280px;
$laptopBreakPoint: 1440px;

$mobileS: $mobileBreakPoint;
$mobileL: $modernMobileBreakPoint;

$tabletV: $tabletVerticalBreakPoint;
$tabletH: $tabletHorizontalBreakPoint;

$desktop: $desktopBreakPoint;
$laptop: $laptopBreakPoint;
